aiofiles==23.2.1
celery==5.3.6
docker==7.0.0
fastapi==0.109.0
loguru==0.7.2
moviepy==1.0.3
orjson==3.9.10
psutil==5.9.7
psycopg2-binary==2.9.9
pydantic-settings==2.1.0
pydub==0.25.1
pysubs2==1.6.1
python-multipart==0.0.6
redis==5.0.1
SQLAlchemy==2.0.25
sse-starlette==1.8.2
uvicorn==0.25.0